# Ignore data files and Python cache
data/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# frontend
frontend/node_modules/



# Allow backend/data/ to be tracked
!backend/data/
!backend/data/.gitkeep


